@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
  background-color: rgb(24, 24, 24);
  margin: auto;
  padding: 0;
  width: 90%;
  color: white;
}
body a {
  text-decoration: none;
  color: white;
}

header {
  font-weight: 700;
  font-size: 1vw;
}
header div {
  height: 1px;
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
}

.welcome {
  margin-top: 4%;
}
.welcome div {
  margin-bottom: 8%;
}
.welcome h3, .welcome h2 {
  text-align: center;
}
.welcome h3 {
  font-weight: 500;
  font-size: 1vw;
}
.welcome h2 {
  text-transform: uppercase;
  font-size: 3.5vw;
  margin: 0;
}
.welcome h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
  width: 60%;
  text-align: left;
  margin: auto;
}
.welcome h1 + h1 {
  text-align: right;
}
.welcome img {
  width: 10%;
  margin-bottom: 4%;
}

.me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.me .bio {
  display: flex;
  width: 45%;
  align-items: flex-start;
}
.me .bio p {
  margin: 0;
}
.me .bio img {
  margin-left: 2%;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
.me .infos {
  flex-direction: column;
  width: 45%;
}
.me .infos .reseau h2 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 100;
}
.me .infos .reseau h2 + p {
  font-size: 0.8em;
  margin-bottom: 10%;
}
.me .infos .reseau .social {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.me .infos .reseau .social a {
  font-size: 2.2em;
  font-weight: 100;
}
.me .infos .reseau .social + div {
  margin-bottom: 10%;
}
.me .infos .reseau .social + div + a {
  font-size: 2.2em;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.me .infos .reseau .social + div + a img {
  width: 0.8em;
  vertical-align: middle;
  text-align: right;
}
.me .infos .reseau .social + div + a + .ligne_me {
  margin-bottom: 6%;
  margin-top: 4%;
}
.me .infos .reseau .ligne_me {
  background-color: white;
  height: 1px;
}
.me .infos .reseau .cv {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  width: 80%;
}

.realisation .ligne_realisation {
  background-color: white;
  height: 1px;
}
.realisation .ligne_real {
  background-color: white;
  height: 1px;
  margin: 4% 0 6% 0;
}
.realisation .travaux {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}
.realisation .travaux h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
}
.realisation .projet .info_projet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.realisation .projet .info_projet .top {
  display: flex;
  justify-content: space-between;
}
.realisation .projet .info_projet .top .nombre {
  display: flex;
  width: 45%;
}
.realisation .projet .info_projet .top .nombre h1 {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-size: 10vw;
  font-weight: 500;
  margin: 0;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: right;
}
.realisation .projet .info_projet .top .nombre p {
  margin: 0;
}
.realisation .projet .info_projet .top a {
  width: 50%;
}
.realisation .projet .info_projet .top a img {
  width: 100%;
}
.realisation .projet .info_projet .bottom {
  display: flex;
  justify-content: space-between;
}
.realisation .projet .info_projet .bottom .wp {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: center;
}
.realisation .projet .info_projet .bottom .wp h2 {
  width: 20%;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.realisation .projet .info_projet .bottom .wp img {
  width: 8%;
  rotate: -90deg;
}
.realisation .projet .info_projet .bottom h1 {
  width: 50%;
  margin: 0;
  font-size: 6vw;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  letter-spacing: -8px;
}

.competences > h2 {
  font-family: "raleway", sans-serif;
  font-size: 3vw;
  text-align: center;
  font-weight: 500;
}
.competences .comp {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.competences .comp .ligne_comp {
  width: 1px;
  background-color: white;
}
.competences .comp h2 {
  font-weight: 300;
}
.competences .comp img {
  width: 4vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.competences .comp p {
  font-weight: 500;
  font-size: 1.8vw;
  margin: 8%;
}
.competences .comp .front {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.competences .comp .front .front_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.competences .comp .front .front_ctn div {
  display: flex;
  justify-content: center;
}
.competences .comp .gest {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
}
.competences .comp .gest .gest_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.competences .comp .gest .gest_ctn > img {
  width: 6vw;
}
.competences .comp .gest .gest_ctn .wp, .competences .comp .gest .gest_ctn .sh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences .comp .gest .gest_ctn .wp img, .competences .comp .gest .gest_ctn .sh img {
  margin: 8%;
}
.competences .comp .design {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: end;
}
.competences .comp .design .design_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.competences .comp .design .design_ctn .pf, .competences .comp .design .design_ctn .xd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences .comp .design .design_ctn .pf img {
  height: 4vw;
  margin-right: 8%;
}
.competences .comp .design .design_ctn .xd img {
  margin-left: 8%;
}

.qualite {
  margin-top: 8%;
  text-align: center;
}
.qualite > h2 {
  font-family: "raleway", sans-serif;
  font-size: 3vw;
  font-weight: 500;
}
.qualite .qual_group {
  height: 34vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.qualite .qual_group .group {
  text-align: center;
  overflow: hidden;
}
.qualite .qual_group .group .div_hidden {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.qualite .qual_group .group .div_hidden h1 {
  font-size: 3.5vw;
}
.qualite .qual_group .group .div_shown {
  display: none;
  width: 100%;
}
.qualite .qual_group .group .div_shown h1 {
  font-size: 2.2vw;
}
.qualite .qual_group .group .div_shown img, .qualite .qual_group .group .div_shown p {
  display: block;
}
.qualite .qual_group .group .div_shown p {
  padding: 0 4%;
}
.qualite .qual_group .group .item {
  vertical-align: middle;
  width: 10vw;
  height: 24vw;
  background-color: rgb(255, 255, 255);
  margin: 1vw;
  border-radius: 3vw;
  display: inline-flex;
  cursor: pointer;
  color: black;
}
.qualite .qual_group .group .crea {
  background-color: #bea3b7;
}
.qualite .qual_group .group .crea h1 {
  transform: rotate(-90deg);
}
.qualite .qual_group .group .dyna {
  background-color: #78b2af;
}
.qualite .qual_group .group .dyna h1 {
  transform: rotate(-90deg);
}
.qualite .qual_group .group .crea .div_shown h1, .qualite .qual_group .group .dyna .div_shown h1 {
  rotate: 90deg;
}
.qualite .qual_group .group .poly {
  width: 15vw;
  height: 30vw;
  background-color: #cbfc9f;
}
.qualite .qual_group .group .poly .div_hidden {
  display: none;
}
.qualite .qual_group .group .poly .div_hidden h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -0.34em;
  margin-bottom: 11%;
}
.qualite .qual_group .group .poly .div_shown {
  display: block;
}
.qualite .qual_group .group .minu {
  background-color: #c1bfd9;
}
.qualite .qual_group .group .minu h1 {
  transform: rotate(90deg);
}
.qualite .qual_group .group .metho {
  background-color: #a78484;
}
.qualite .qual_group .group .metho h1 {
  transform: rotate(90deg);
}
.qualite .qual_group .group .metho .div_shown h1, .qualite .qual_group .group .minu .div_shown h1 {
  rotate: -90deg;
}
.qualite .dl_cv {
  width: 100%;
  height: 4.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 8%;
}
.qualite .dl_cv .button {
  position: relative;
  z-index: 0;
  width: 40%;
  height: 100%;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.qualite .dl_cv .button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.qualite .dl_cv .button::before,
.qualite .dl_cv .button::after,
.qualite .dl_cv .button__text::before,
.qualite .dl_cv .button__text::after {
  content: "";
  position: absolute;
  height: 0.16vw;
  border-radius: 2px;
  background: white;
  transition: all 0.5s ease;
}
.qualite .dl_cv .button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 112px - 16px);
}
.qualite .dl_cv .button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.qualite .dl_cv .button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 112px - 16px);
}
.qualite .dl_cv .button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.qualite .dl_cv .button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.qualite .dl_cv .button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  border: solid 0.2vw white;
}
.qualite .dl_cv .button__line:nth-child(1),
.qualite .dl_cv .button__line:nth-child(1)::before {
  left: 0;
}
.qualite .dl_cv .button__line:nth-child(2),
.qualite .dl_cv .button__line:nth-child(2)::before {
  right: 0;
}
.qualite .dl_cv .button:hover {
  letter-spacing: 6px;
}
.qualite .dl_cv .button:hover::before,
.qualite .dl_cv .button:hover .button__text::before {
  width: 8px;
}
.qualite .dl_cv .button:hover::after,
.qualite .dl_cv .button:hover .button__text::after {
  width: calc(100% - 112px - 16px);
}/*# sourceMappingURL=style.css.map */