// Color
$base-grey: #707070 !default;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'inter', sans-serif;
    background-color: rgba(24, 24, 24, 100);
    margin: auto;
    padding: 0;
    width: 90%;
    color: white;
    a{
        text-decoration: none;
        color: white;
    }
}

header{
    font-weight: 700;
    font-size: 1vw;
    div{
        height: 1px;
        background-color: white;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
            }
        }
    }
} 

.welcome{
    margin-top: 4%;
    div{
        margin-bottom: 8%;
    }
    h3,h2{
        text-align: center;
    }
    h3{
        font-weight: 500;
        font-size: 1vw;
    }
    h2{
        text-transform: uppercase;
        font-size: 3.5vw;
        margin: 0;
    }
    h1{
        text-transform: uppercase;
        font-size: 7.5vw;
        width: 60%;
        text-align: left;
        margin: auto;
        +h1{
            text-align: right;
        }
    }
    img{
        width: 10%;
        margin-bottom: 4%;
    }
}
.me{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
    .bio{
        display: flex;
        width: 45%;
        align-items: flex-start;
        p{
            margin: 0;
        }
        img{
            margin-left: 2%;
            width: 40%;
            object-fit: contain;
        }
    }
    .infos{
        flex-direction: column;
        width: 45%;
        .reseau{
            h2{
                margin: 0;
                font-size: 2.2em;
                font-weight: 100;
                +p{
                    font-size: 0.8em;
                    margin-bottom: 10%;
                }
            }
            .social{
                width: 60%;
                display: flex;       
                justify-content: space-between;
                margin-bottom: 4%;
                a{
                    font-size: 2.2em;
                    font-weight: 100;
                }
                +div{
                    margin-bottom: 10%;
                    +a{
                        font-size: 2.2em;
                        font-weight: 100;
                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 0.8em;
                            vertical-align: middle;
                            text-align: right;
                        }
                        +.ligne_me{
                            margin-bottom: 6%;
                            margin-top: 4%;
                        }
                    }
                }
            }
            .ligne_me{
                background-color: white;
                height: 1px;

            }
            .cv{
                display: flex;
                justify-content: space-between;
                font-size: 0.9em;
                width: 80%;
            }
        }
    }

}
.realisation{
    .ligne_realisation{
        background-color: white;
        height: 1px;
    }
    .ligne_real{
        background-color: white;
        height: 1px;
        margin: 4% 0 6% 0;
    }
    .travaux{
        display: flex;
        justify-content: space-around;
        h2{
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            font-size: 1.5vw;
        }
        margin-bottom: 4%;
    }
    .projet{
        .info_projet{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top{
                display: flex;
                justify-content: space-between;
                .nombre{
                    display: flex;
                    width: 45%;
                    h1{
                        width: 50%;
                        font-family: 'Raleway', sans-serif;
                        font-size: 10vw;
                        font-weight: 500;
                        margin: 0;
                        writing-mode: tb-rl;
                        transform: rotate(-180deg);
                        text-align: right;
                    }
                    p{margin: 0;}
                }
                img{
                    width: 50%;
                }
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                .wp{
                    display: flex;
                    justify-content: space-between;
                    width: 45%;
                    align-items: center;
                    h2{
                        width: 20%;
                        font-weight: 100;
                        font-family: 'Raleway', sans-serif;
                    }
                    img{
                        width: 8%;
                        rotate: -90deg;
                    }
                }
                h1{
                    width: 50%;
                    margin: 0;
                    font-size: 6vw;
                    text-transform: uppercase;
                    font-family: 'raleway', sans-serif;
                    letter-spacing: -8px;
                }
            }
        }
        
        
    }
}
.competences{
    >h2{
        font-weight: 100;
        text-align: center;
    }
    .comp{
        display: flex;
        justify-content: space-between;
        .ligne_comp{
            width: 1px;
            background-color: white;
        }
        h2{
            font-family: 'raleway', sans-serif;
            font-size: 2vw;
        }
        img{
            width: 4vw;
            object-fit: contain;
            
        }
        p{
            font-weight: 500;
            font-size: 1.8vw;
        }
        .front{
            width: 33%;
            div{
                div{
                    display: flex;
                }
            }
        }
        .gest{
            width: 33%;
            text-align: center;
            div{
                .ws{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .design{
            width: 33%;
            text-align: end;
            .pf, .xd{
                display: flex;
            }
        }   
    }
}
.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    div:nth-child(1){
        background-color: #bea3b7;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
    }
    div:nth-child(2){
        background-color: #78b2af;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
    }
    div:nth-child(3){
        width: 15vw;
        background-color: #cbfc9f;
    }
    div:nth-child(4){
        background-color: #c1bfd9;
        writing-mode: tb-rl;
        text-align: center;
    }
    div:nth-child(5){
        background-color: #a78484;
        writing-mode: tb-rl;
        text-align: center;
    }
  }
  
  .item {
    width: 10vw;
    height: 32vh;
    background-color: rgb(255, 255, 255);
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
    color: black;
  }