@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "inter", sans-serif;
  background-color: rgb(21, 21, 21);
  margin: auto;
  padding: 0;
  width: 90%;
  color: white;
}
body a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  width: 90%;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: rgb(21, 21, 21);
  transform: translateY(-100%);
  opacity: 0;
  animation: slide-in-anim 1.6s cubic-bezier(0, 0.5, 0.58, 1) forwards;
  height: 5vw;
  font-weight: 700;
  font-size: 1vw;
  transition: 0.4s;
}
@keyframes slide-in-anim {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-in-cercle {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
}
header div {
  height: 1px;
  background-color: white;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
}

.sticky {
  height: 4vw;
  transition: 0.4s;
}
.sticky .ligne_head {
  opacity: 0;
}

footer {
  margin-top: 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 32vh;
}
footer p,
footer a {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
footer .bar {
  width: 100%;
  height: 1px;
  background-color: white;
}
footer .footer_ctn {
  margin-top: 2%;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}
footer .footer_ctn .footer_nav,
footer .footer_ctn .footer_res,
footer .footer_ctn .footer_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_ctn .footer_nav h2,
footer .footer_ctn .footer_res h2,
footer .footer_ctn .footer_info h2 {
  margin: 0;
}
footer .footer_ctn .footer_info .info_dev {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
footer .footer_ctn .footer_info .info_stack {
  font-size: 0.8em;
}
footer .footer_ctn .footer_res {
  text-align: end;
}
footer .footer_ctn .footer_nav {
  text-align: center;
}
footer #copyright {
  text-align: center;
  margin: 2%;
}

.welcome {
  margin-top: 8vw;
}
.welcome div {
  margin-bottom: 4%;
}
.welcome h3,
.welcome h2 {
  text-align: center;
}
.welcome h3 {
  font-weight: 500;
  font-size: 1vw;
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in-anim 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}
.welcome h2 {
  text-transform: uppercase;
  font-size: 3.5vw;
  margin: 0;
  transform: translateX(100%);
  opacity: 0;
  animation: slide-in-anim 1.6s cubic-bezier(0, 0.5, 0.58, 1) forwards;
}
.welcome h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
  width: 60%;
  text-align: left;
  margin: auto;
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in-anim 1.8s cubic-bezier(0.63, 0.12, 0.4, 1.15) forwards;
}
.welcome h1 + h1 {
  text-align: right;
  transform: translateX(100%);
  opacity: 0;
  animation: slide-in-anim 2s cubic-bezier(0.63, 0.12, 0.4, 1.15) forwards;
}
.welcome img {
  transform: translateY(-500%);
  opacity: 0;
  animation: slide-in-anim 3s cubic-bezier(0, 0.5, 0.58, 1) forwards;
  width: 10%;
}

.cercle_home_ctn div:nth-child(1) {
  width: 15vw;
  height: 15vw;
  top: 15vw;
  left: 65vw;
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in-anim 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}
.cercle_home_ctn div:nth-child(2) {
  width: 50vw;
  height: 50vw;
  top: 8vw;
  opacity: 0.2;
  left: 50%;
  transform: translateX(50%);
  opacity: 0;
  animation: slide-in-cercle 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}

.me {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  margin-bottom: 8%;
}
.me .bio {
  display: flex;
  width: 45%;
  align-items: flex-start;
}
.me .bio p {
  margin: 0;
}
.me .bio img {
  margin-left: 2%;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
.me .infos {
  flex-direction: column;
  width: 45%;
}
.me .infos .reseau h2 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 100;
}
.me .infos .reseau h2 + p {
  font-size: 0.8em;
  margin-bottom: 10%;
}
.me .infos .reseau .social {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.me .infos .reseau .social a {
  font-size: 2.2em;
  font-weight: 100;
}
.me .infos .reseau .social + div {
  margin-bottom: 10%;
}
.me .infos .reseau .social + div + a {
  font-size: 2.2em;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.me .infos .reseau .social + div + a img {
  width: 0.8em;
  vertical-align: middle;
  text-align: right;
}
.me .infos .reseau .social + div + a + .ligne_me {
  margin-bottom: 6%;
  margin-top: 4%;
}
.me .infos .reseau .ligne_me {
  background-color: white;
  height: 1px;
}
.me .infos .reseau .cv {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  width: 80%;
}

.realisation .ligne_realisation {
  background-color: white;
  height: 1px;
}
.realisation .ligne_real {
  background-color: white;
  height: 1px;
  margin: 4% 0 6% 0;
}
.realisation .travaux {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}
.realisation .travaux h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
}
.realisation .projet .info_projet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.realisation .projet .info_projet .top {
  display: flex;
  justify-content: space-between;
}
.realisation .projet .info_projet .top .nombre {
  display: flex;
  width: 45%;
}
.realisation .projet .info_projet .top .nombre h1 {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-size: 10vw;
  font-weight: 500;
  margin: 0;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: right;
  transition: 0s;
}
.realisation .projet .info_projet .top .nombre p {
  margin: 0;
}
.realisation .projet .info_projet .top a {
  width: 50%;
}
.realisation .projet .info_projet .top a img {
  width: 100%;
}
.realisation .projet .info_projet .bottom {
  display: flex;
  justify-content: space-between;
}
.realisation .projet .info_projet .bottom .wp {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: center;
}
.realisation .projet .info_projet .bottom .wp h2 {
  width: 20%;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.realisation .projet .info_projet .bottom .wp img {
  width: 8%;
  rotate: -90deg;
}
.realisation .projet .info_projet .bottom h1 {
  width: 50%;
  margin: 0;
  font-size: 6vw;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  letter-spacing: -8px;
}

.competences > div > h2 {
  font-family: "raleway", sans-serif;
  font-size: 3vw;
  text-align: center;
  font-weight: 500;
}
.competences .comp {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.competences .comp .ligne_comp {
  width: 1px;
  background-color: white;
}
.competences .comp h2 {
  font-weight: 300;
}
.competences .comp img {
  width: 4vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.competences .comp p {
  font-weight: 500;
  font-size: 1.8vw;
  margin: 8%;
}
.competences .comp .front {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.competences .comp .front .front_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.competences .comp .front .front_ctn div {
  display: flex;
  justify-content: center;
}
.competences .comp .gest {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
}
.competences .comp .gest .gest_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.competences .comp .gest .gest_ctn > img {
  width: 6vw;
}
.competences .comp .gest .gest_ctn .wp,
.competences .comp .gest .gest_ctn .sh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences .comp .gest .gest_ctn .wp img,
.competences .comp .gest .gest_ctn .sh img {
  margin: 8%;
}
.competences .comp .design {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: end;
}
.competences .comp .design .design_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.competences .comp .design .design_ctn .pf,
.competences .comp .design .design_ctn .xd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences .comp .design .design_ctn .pf img {
  height: 4vw;
  margin-right: 8%;
}
.competences .comp .design .design_ctn .xd img {
  margin-left: 8%;
}

.qualite {
  margin-top: 8%;
  text-align: center;
}
.qualite > div > h2 {
  font-family: "raleway", sans-serif;
  font-size: 3vw;
  font-weight: 500;
}
.qualite .qual_group {
  height: 34vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.qualite .qual_group .group {
  text-align: center;
  overflow: hidden;
}
.qualite .qual_group .group .div_hidden {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.qualite .qual_group .group .div_hidden h1 {
  font-size: 3.5vw;
}
.qualite .qual_group .group .div_shown {
  display: none;
  width: 100%;
}
.qualite .qual_group .group .div_shown h1 {
  font-size: 2.2vw;
}
.qualite .qual_group .group .div_shown img,
.qualite .qual_group .group .div_shown p {
  display: block;
}
.qualite .qual_group .group .div_shown p {
  padding: 0 4%;
}
.qualite .qual_group .group .item {
  vertical-align: middle;
  width: 10vw;
  height: 24vw;
  background-color: rgb(255, 255, 255);
  margin: 1vw;
  border-radius: 3vw;
  display: inline-flex;
  cursor: pointer;
  color: black;
}
.qualite .qual_group .group .crea {
  background-color: #bea3b7;
}
.qualite .qual_group .group .crea h1 {
  transform: rotate(-90deg);
}
.qualite .qual_group .group .dyna {
  background-color: #78b2af;
}
.qualite .qual_group .group .dyna h1 {
  transform: rotate(-90deg);
}
.qualite .qual_group .group .crea .div_shown h1,
.qualite .qual_group .group .dyna .div_shown h1 {
  rotate: 90deg;
}
.qualite .qual_group .group .poly {
  width: 15vw;
  height: 30vw;
  background-color: #cbfc9f;
}
.qualite .qual_group .group .poly .div_hidden {
  display: none;
}
.qualite .qual_group .group .poly .div_hidden h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -0.34em;
  margin-bottom: 11%;
}
.qualite .qual_group .group .poly .div_shown {
  display: block;
}
.qualite .qual_group .group .minu {
  background-color: #c1bfd9;
}
.qualite .qual_group .group .minu h1 {
  transform: rotate(90deg);
}
.qualite .qual_group .group .metho {
  background-color: #a78484;
}
.qualite .qual_group .group .metho h1 {
  transform: rotate(90deg);
}
.qualite .qual_group .group .metho .div_shown h1,
.qualite .qual_group .group .minu .div_shown h1 {
  rotate: -90deg;
}
.qualite .dl_cv {
  width: 100%;
  height: 4.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.qualite .dl_cv .button {
  position: relative;
  z-index: 0;
  width: 40%;
  height: 100%;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.qualite .dl_cv .button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.qualite .dl_cv .button::before,
.qualite .dl_cv .button::after,
.qualite .dl_cv .button__text::before,
.qualite .dl_cv .button__text::after {
  content: "";
  position: absolute;
  height: 0.16vw;
  border-radius: 2px;
  background: white;
  transition: all 0.5s ease;
}
.qualite .dl_cv .button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 112px - 16px);
}
.qualite .dl_cv .button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.qualite .dl_cv .button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 112px - 16px);
}
.qualite .dl_cv .button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.qualite .dl_cv .button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.qualite .dl_cv .button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  border: solid 0.2vw white;
}
.qualite .dl_cv .button__line:nth-child(1),
.qualite .dl_cv .button__line:nth-child(1)::before {
  left: 0;
}
.qualite .dl_cv .button__line:nth-child(2),
.qualite .dl_cv .button__line:nth-child(2)::before {
  right: 0;
}
.qualite .dl_cv .button:hover {
  letter-spacing: 6px;
}
.qualite .dl_cv .button:hover::before,
.qualite .dl_cv .button:hover .button__text::before {
  width: 8px;
}
.qualite .dl_cv .button:hover::after,
.qualite .dl_cv .button:hover .button__text::after {
  width: calc(100% - 112px - 16px);
}

.contact {
  text-align: center;
  margin-top: 10%;
}
.contact h1 {
  font-size: 2.5vw;
  letter-spacing: 0.8vw;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 16px;
}
.contact h2 {
  font-size: 2vw;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 5px;
}
.contact > div {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.contact > div iframe {
  border: 0;
  width: 25vw;
  height: 32vw;
  background-color: #A2D2AF;
}
.contact > div .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.contact > div .contact-info img {
  width: 8vw;
}
.contact > div .contact-info h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
}
.contact > div .contact-info h3 a {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 5px;
}
.contact > div .contact-info h3 img {
  transition: 0.1s;
}
.contact > div .contact-info h3 img:hover {
  border: rgb(106, 106, 230) 2px solid;
}
.contact > div .contact-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact > div .contact-info > div .contact-bar {
  width: 110%;
  background-color: white;
  height: 1px;
  margin: 2% 0;
}
.contact > div .contact-info > div .contact-reseau {
  display: flex;
  justify-content: space-evenly;
  width: 150%;
  align-items: center;
}

.cercle_contact_ctn,
.cercle_home_ctn,
.cercle_services_ctn {
  top: 0;
  width: 100vw;
}
.cercle_contact_ctn div,
.cercle_home_ctn div,
.cercle_services_ctn div {
  z-index: -2;
  display: block;
  position: absolute;
  background-color: rgb(36, 36, 36);
  border-radius: 50%;
}

.cercle_contact_ctn div:nth-child(1) {
  width: 10vw;
  height: 10vw;
  opacity: 0.4;
  top: 6vw;
  left: 35vw;
}
.cercle_contact_ctn div:nth-child(2) {
  width: 30vw;
  height: 30vw;
  opacity: 0.2;
  top: 13vw;
  left: 5vw;
}
.cercle_contact_ctn div:nth-child(3) {
  width: 25vw;
  height: 25vw;
  opacity: 0.6;
  top: 10vw;
  left: 45vw;
}
.cercle_contact_ctn div:nth-child(4) {
  width: 15vw;
  height: 15vw;
  opacity: 0.8;
  top: 8vw;
  left: 75vw;
}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8vw;
}
.services > div {
  text-align: center;
  margin-bottom: 4%;
}
.services > div h1 {
  font-size: 3vw;
  font-weight: 500;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 8px;
  margin-bottom: 0;
}
.services > div h2 {
  font-weight: 500;
}
.services section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.services section article {
  display: flex;
  flex-direction: column;
}
.services section article div {
  width: 25vw;
}
.services section article div h3 {
  margin: 0;
}
.services section article div p {
  padding: 4%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-bottom: 0;
  text-align: center;
}
.services section article div img {
  width: 25vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.services section article div + div {
  margin-top: 15vw;
}
.services section article:nth-child(2) {
  margin-top: 8%;
}

.tarifs {
  margin-top: 8%;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tarifs div {
  margin-bottom: 8%;
}
.tarifs div h1 {
  font-size: 3vw;
  font-weight: 500;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 8px;
}
.tarifs section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}
.tarifs section a {
  width: 35%;
}
.tarifs section a div {
  text-align: center;
  padding: 8% 12%;
  border: white 1px solid;
}
.tarifs section a div:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}
.tarifs section a div img {
  width: 8vw;
}
.tarifs section a div h2 {
  font-size: 2.8vw;
  margin: 0;
}
.tarifs section a div p span {
  font-weight: 700;
}
.tarifs section a div p #prix {
  font-size: 3vw;
}
.tarifs section a div #distance {
  font-size: 0.8em;
}

.devis {
  text-align: center;
  margin-bottom: 8%;
}
.devis > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.devis > div > div p:nth-child(1) {
  width: 100%;
  font-size: 3.5vw;
  font-weight: 100;
  border-left: 1px white solid;
  padding-left: 4%;
}
.devis > div > div p:nth-child(1) span {
  font-weight: 500;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 10px;
}
.devis > div > div p:nth-child(2) {
  text-align: left;
  padding-left: 5%;
  font-size: 1vw;
}
.devis > div > div p {
  margin: 0;
}
.devis .btn {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  font-size: 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}
.devis .btn::before,
.devis .btn::after {
  position: absolute;
  background: rgb(21, 21, 21);
  z-index: -1;
  transition: 1s;
  content: "";
}
.devis .btn::before {
  height: 52px;
  width: 180px;
}
.devis .btn::after {
  width: 202px;
  height: 30px;
}
.devis .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.devis .btn:hover::before {
  width: 0px;
  background: rgb(21, 21, 21);
}
.devis .btn:hover::after {
  height: 0px;
  background: rgb(21, 21, 21);
}
.devis .btn:hover {
  background: rgb(21, 21, 21);
}
.devis > p {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 4px;
}

.cercle_services_ctn div:nth-child(1) {
  width: 15vw;
  height: 15vw;
  top: 65vw;
  left: 65vw;
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in-anim 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}
.cercle_services_ctn div:nth-child(2) {
  width: 40vw;
  height: 40vw;
  top: 8vw;
  opacity: 0.2;
  left: 25vw;
  transform: translateX(50%);
  opacity: 0;
  animation: slide-in-cercle 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}
.cercle_services_ctn div:nth-child(3) {
  width: 60vw;
  height: 60vw;
  top: 50vw;
  opacity: 0.2;
  left: 50vw;
  transform: translateX(-150%);
  opacity: 0;
  animation: slide-in-cercle 1.4s cubic-bezier(0, 0, 0, 1) forwards;
}

.reveal-loaded .reveal [class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(100px) !important;
  transition: 0s !important;
}
.reveal-loaded [class*=reveal-] {
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
.reveal-loaded .reveal-2 {
  transition-delay: 0.1s;
}
.reveal-loaded .reveal-3 {
  transition-delay: 0.2s;
}
.reveal-loaded .reveal-4 {
  transition-delay: 0.3s;
}
.reveal-loaded .reveal-5 {
  transition-delay: 0.4s;
}
.reveal-loaded .reveal-6 {
  transition-delay: 0.14s;
}
.reveal-loaded .reveal-7 {
  transition-delay: 0.18s;
}
.reveal-loaded .reveal-8 {
  transition-delay: 0.22s;
}
.reveal-loaded .reveal-9 {
  transition-delay: 0.26s;
}
.reveal-loaded .reveal-10 {
  transition-delay: 0.3s;
}/*# sourceMappingURL=style.css.map */